@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  z-index: 1;
  margin-left: 8%;
  margin-right: 8%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 8px;
  font-family: var(--font-roboto);
}

.description {
  font-size: 28px;
  margin-bottom: 16px;
  font-family: var(--font-roboto);
}

.experienceList {
  display: flex;
  gap: 32px;
  margin-top: 32px;
  align-items: center;

  li {
    font-size: 24px;
  }
}

.experienceList .p {
  align-items: center;
  justify-content: center;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 96px;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: var(--color-yellow);
    cursor: pointer;
  }
}

.heroImg {
  width: 50%;
  z-index: 1;
  border-radius: 50%;
  width: 40%;
  margin: 8px;
  padding: 16px;
}

.pillContainer {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 16px;
}

.pill {
  background-color: var(--color-yellow) !important;
  color: black !important;
  border-radius: 96px;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  margin-right: 8px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }
  .content {
    align-items: center;
  }

  .heroImg {
    width: 75%;
  }

  .title {
    font-size: 48px;
  }

  .pillContainer {
    flex-direction: column;
    gap: 16px;
  }

  .experienceList {
    flex-direction: column;
    gap: 8px;
    font-size: 24px;
    p {
      color: var(--color-yellow);
    }

    ul {
      padding-left: 18px;
      font-size: 18px;
    }
  }
}

.wrap {
  color: var(--color-yellow);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: 24px;
}
