:root {
  /* Colors */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;
  --color-yellow: #ffde21;

  /*fonts*/
  --font-robot: "Roboto";
  --font-outfit: "Outfit";
}
