@import "./../../vars.css";

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 2;
  margin: 0 5%;
  background-color: var(--color-bg);
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.menu {
  display: flex;
}

.menuBtn {
  display: none;
}

.menuItems {
  display: flex;
  list-style: none;
  gap: 48px;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    padding: 24px 32px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}

.menuItems a:hover {
  color: var(--color-yellow);
}
